body {
    background: #1b2b3a
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

.interact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 7px;
}

#poopy {
    margin-top: 20px;
    color: #f5e162;
    font-size: 60px;
    font-family: 'Sono', sans-serif;

}